[submodule "cyberpunk-theme.el"]
	path = cyberpunk-theme.el
	url = https://github.com/n3mo/cyberpunk-theme.el.git
[submodule "diminish.el"]
	path = diminish.el
	url = https://github.com/myrjola/diminish.el.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil.git
[submodule "projectile"]
	path = projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "emacs-async"]
	path = emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "geiser"]
	path = geiser
	url = https://gitlab.com/jaor/geiser.git
[submodule "paredit"]
	path = paredit
	url = https://github.com/emacsmirror/paredit
[submodule "company-mode"]
	path = company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "spacemacs-theme"]
	path = spacemacs-theme
	url = https://github.com/nashamri/spacemacs-theme.git
[submodule "spaceline"]
	path = spaceline
	url = https://github.com/TheBB/spaceline.git
[submodule "dash.el"]
	path = dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "s.el"]
	path = s.el
	url = https://github.com/magnars/s.el.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "all-the-icons.el"]
	path = all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "emacs-memoize"]
	path = emacs-memoize
	url = https://github.com/skeeto/emacs-memoize.git
[submodule "font-lock-plus"]
	path = font-lock-plus
	url = https://github.com/emacsmirror/font-lock-plus.git
[submodule "ag.el"]
	path = ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "helm-projectile"]
	path = helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "emacs-helm-ag"]
	path = emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag
[submodule "perspeen"]
	path = perspeen
	url = https://github.com/seudut/perspeen.git
[submodule "magit-popup"]
	path = magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "with-editor"]
	path = with-editor
	url = https://github.com/magit/with-editor.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "eyeliner"]
	path = eyeliner
	url = https://github.com/dustinlacewell/eyeliner.git
[submodule "ghub"]
	path = ghub
	url = https://github.com/magit/ghub.git
[submodule "graphql.el"]
	path = graphql.el
	url = https://github.com/vermiculus/graphql.el.git
[submodule "treepy.el"]
	path = treepy.el
	url = https://github.com/volrath/treepy.el.git
[submodule "home/.emacs.d/pkgs/racket-mode"]
	path = home/.emacs.d/pkgs/racket-mode
	url = https://github.com/greghendershott/racket-mode.git
[submodule "home/.emacs.d/racket-mode"]
	path = home/.emacs.d/racket-mode
	url = https://github.com/greghendershott/racket-mode.git
[submodule "racket-mode"]
	path = racket-mode
	url = https://github.com/greghendershott/racket-mode.git
[submodule "helpful"]
	path = helpful
	url = https://github.com/Wilfred/helpful.git
[submodule "elisp-refs"]
	path = elisp-refs
	url = https://github.com/Wilfred/elisp-refs.git
[submodule "loop.el"]
	path = loop.el
	url = https://github.com/Wilfred/loop.el.git
[submodule "shut-up"]
	path = shut-up
	url = https://github.com/cask/shut-up.git
[submodule "f.el"]
	path = f.el
	url = https://github.com/rejeep/f.el.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "docker-compose-mode"]
	path = docker-compose-mode
	url = https://github.com/meqif/docker-compose-mode.git
[submodule "ggtags"]
	path = ggtags
	url = https://github.com/leoliu/ggtags
[submodule "emacs-helm-gtags"]
	path = emacs-helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "xcscope.el"]
	path = xcscope.el
	url = https://github.com/dkogan/xcscope.el.git
[submodule "sr-speedbar"]
	path = sr-speedbar
	url = https://github.com/emacsorphanage/sr-speedbar.git
[submodule "company-c-headers"]
	path = company-c-headers
	url = https://github.com/randomphrase/company-c-headers.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
