[submodule "quelpa"]
	path = quelpa
	url = https://framagit.org/steckerhalter/quelpa.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "geiser"]
	path = geiser
	url = git://git.sv.gnu.org/geiser.git
